.left-panel {
  position: fixed;
  left: 0;
  width: 30%;
  height: 100vh;
  text-align: left;
  /* border-right: 1px solid #343a40; */
  box-shadow: 2px 3px 4px #dedede;
}

.right-panel {
  position: absolute;
  left: 30%;
  text-align: left;
  margin-top: 1rem;
}

.col {
  padding: 1rem;
}

.panel-button {
  width: 100%;
  margin-bottom: 1rem;
}
